@media (max-width: 1500px){
  .home-five-banner {
    padding: 170px 0 150px;
  }
}
.home-five-banner .banner-content .sub-title, .intro__up {
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255 255 255);
  font-family: Poppins,sans-serif;
  font-size: 20px;
  position: relative;
  line-height: 1;
  margin-bottom: 17px;
  padding-left: 17px;
}
.home-five-banner .banner-content .title-one, .home-six-banner .banner-content .title-one, .intro__title {
  font-family: Poppins,sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  line-height: .9;
  margin-bottom: 12px;
}
.home-five-banner .banner-content .title-two, .home-six-banner .banner-content .title-two, .intro__after-title {
  font-family: Poppins,sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
  line-height: .9;
  margin-bottom: 35px;
  span {
    color: rgb(250,1,1)
  }
}
.home-five-banner .banner-meta {
  margin-bottom: 35px;
}
.home-five-banner .banner-meta ul {
  display: flex;
  flex-wrap: wrap;
}
.home-five-banner .banner-meta ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 18px;
}
.banner-meta ul li.quality>span  {
  font-size: 11px;
  text-transform: uppercase;
  color: rgb(33 35 43);
  background: rgb(255 255 255);
  font-weight: 700;
  padding: 7px 11px;
  line-height: 1;
}
.banner-meta ul li.quality>span:last-child {
  background: rgb(0 0 0 / 0%);
    color: rgb(255 255 255);
    margin-left: 9px;
    border: 2px solid rgb(255 255 255);
    padding: 5px 10px;
}
.banner-meta ul li.category>a {
  font-size: 14px;
  font-weight: 500;
  color: rgb(227 223 223);
}
.banner-meta ul li.release-time>span {
  font-size: 14px;
  font-weight: 500;
  color: rgb(227 223 223);
}
.intro__collection {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 20px;
}
.release-time {
  gap: 10px;
}
.ico {
  margin: 0 1rem;
  font-weight: 600;
  font-size: 14px;
}
.border-btn {
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
  background: rgb(0 0 0 / 0%);
  border: 3px solid rgb(250 1 1);
  border-radius: 50px;
  color: rgb(227 223 223);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 16px 34px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all .3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  margin: 2rem 0;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-btn:hover {
  background-color: rgb(250 1 1);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/media/intro.jpg');
  background-position: 50%;
  background-size: cover;
  padding: 215px 0 190px;
  margin-top: -20px;
  max-width: 100%;

  .intro__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 0 5rem;
    max-width: 680px;
    position: relative;

  }
}
.intro__up {
  span {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: rgb(250 1 1);
  }
}